.homePage{
  height: 100vh;
  width: inherit;
  overflow: auto;
  background-color: rgb(197, 213, 227);

  &__title{
    font-weight: 700;
    font-family: cursive;
  }

  &__button{
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}